body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.home-page{
  
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  ". home ."
  "map map map"
  "list list list"

}

.map-holder{
  height: 300px;
  border: 5px solid gray;
  margin: 10px;
  grid-area: map
  }

  .home-header{
    grid-area: home;
    text-align: center;
    
  }

  .map-list{    
  height: 150px;
  border: 5px solid gray;
  margin: 10px;
    grid-area: list;
  }

  