body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.home-page{
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  ". home ."
  "map map map"
  "list list list"
}

  .home-header{
    grid-area: home;
    text-align: center;
    
  }

  .map-list{    
    height: 150px;
    border: 5px solid gray;
    margin: 10px;
    grid-area: list;
  }
  .info-panel{
    display: flex;
    border: 5px solid gray;
    justify-content: end;
    
  }
  .search-section{
    display: flex;
    border: 5px solid gray;
    height: 700px;
    width: 900px;
    grid-area: map;
    justify-content: end;
  }
  .outer-info-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .map-holder{
    height: 95%;
    width: 300px;
    border: 5px solid gray;
    margin: 10px
  
  }

  .map-thing{
    width: 100%;
    height: 100%;
  }
.start-text{
  width: 100px;
  height: 25px;
  margin: 5px;
}

.reset-button{
  height: 50px;
  margin: 5px;
  
}
  

.landmark-card {
  width: 300px;
  font-size: 18px;
  flex: 0 0 auto;         
  display: flex;          
  flex-direction: column; 
  position: relative;
  background: rgb(0, 0, 0);
}

.card-image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}
.card-buttons{
  display: flex;

}

.card-text{
  background: rgba(0, 0, 0, 0)
}