body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.home-page{
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  ". home ."
  "map map map"
  "list list list"
}

  .header{
  display: flex;
  height: 50px;
  background-color: gray;

  }
  .header-link-box{
    display: flex;
    align-items: center;
    margin-right: 20%;
  }
  .links{
    margin:10px;
    padding: 10px;
  }


  .map-list{    
    height: 150px;
    border: 5px solid gray;
    margin: 10px;
    grid-area: list;
  }

  .combobox-input{
    width: 100%;
    padding: 0.5rem;
  }

  /* .info-panel{
    display: flex;
    border: 5px solid gray;
    justify-content: end;
    
  } */
  .search-section{
    display: flex;
    border: 5px solid gray;
    height: 700px;
    width: 900px;
    grid-area: map;
    justify-content: end;
  }
  /* .outer-info-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  } */

  /* new addtions */
  .container{
    display: flex;
    height: 100vh;
  }

  .controls{
    width: 50%;
    padding: 1rem;
  }

  
  .map{
    width: 50%;
    height: 100vh;
  }
  .map-container{
    width: 100%;
    height: 100vh;
  }
  /* new additions */
  
  .map-holder{
    height: 95%;
    width: 300px;
    border: 5px solid gray;
    margin: 10px
  
  }

  .map-thing{
    width: 100%;
    height: 100%;
  }
.start-text{
  width: 100px;
  height: 25px;
  margin: 5px;
}

.reset-button{
  height: 50px;
  margin: 5px;
  
}

.searchButtonsBox{
  display: flex;
}

.landmark-card {
  width: 300px;
  font-size: 18px;
  flex: 0 0 auto;         
  display: flex;          
  flex-direction: column; 
  background: white;
  left: 5%;
  color: black;
  position: absolute;
  border-radius: 15px;
  padding: 2%;
}
.landmark-card button{
  right: auto;
  left: auto;
}
.react-datepicker__input-container{
  position: absolute;
  left: 10%;
  top: 65px;
  width: 300px
}

.card-image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}
.card-buttons{
  display: flex;

}

.card-text{
  background: rgba(0, 0, 0, 0)
}

.toggle-switches{
  display: grid;
}

/* ADDED FOR TRIPS COMPONENT */

.trips-outer-container{
  
  height: 100vh;
display: grid;
justify-content: center;
grid-template-columns: 1fr;
grid-template-rows: 1fr 4fr;
grid-template-areas: "header"
                      "inner"
;
}

.trips-inner-container{
  background-color: white;
  margin:3px;
  grid-area: inner;
  justify-content: center;
  display: flex;


}

.trips-header{
  background-color: blue;
  height: fit-content;
  margin:3px;
  justify-self: center;
  display: inline-block;
  grid-area: header;
}

.directions-outer-container{
  
  margin:5px;
  display: flex;
  background-color: gray;
  width: 98%;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "written map places"
}

.directions-inner-container{
  margin: 5px;
  width: 100%;
  color: black;
  display: flex;
  grid-area: written;
  background-color: aqua;
}

.directions-map-container{
  margin: 5px;
  width: 100%;
  color: black;
  background-color: aqua;
  display: flex;
  grid-area: map;
}

.places-outer-container{
  margin: 5px;
  width: 100%;
  color: black;
  background-color: aqua;
  display: flex;
  grid-area: places;
}

.places-inner-container{
  display: flex;
}
.LandmarksListIcon{
  position: absolute;
  top: 150px;
  right: 100px;
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 100%;
}
.LandmarksListIcon > img{
  height: 80px;
  width: 80px
}
.LandmarksInRoute{
  border-radius: 100%;
  background-color: red;
  position: fixed;
  height: 40px;
  width: 40px;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}
.places-rendered{
  border-radius: 20px;
  position: fixed;
  background-color: aliceblue;
  height: 60vw;
  width: 50vh;
  top: 10%;
  right: 20%;
  left: 20%;
  bottom: auto;
  z-index: 999;
  color: grey;
}

.place-card button{
  
  height: 5%;
  background-color: none;
  order: 3;
}

.List-nearby{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
}
